<%- include('../partials/head')%> <%- include('../partials/navbar')%>
<h1>Edit your comment</h1>
<!-- ?_method=PATHCH it's from npm method-override -->
<form method="post" action="/posts/<%= comment.id %>?_method=PATCH">
  <h2>For username: <%= comment.username %></h2>
  <textarea name="comment" id="comment" cols="30" rows="10">
<%= comment.comment %></textarea
  >
  <br />
  <button>Save</button>
</form>
<%- include('../partials/footer') %>
